<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd" 
		default-lazy-init="false">
	<!-- 扫描注解  -->
	<context:component-scan base-package="com.vince.spring.task" />
	
	<!-- 配置方式  -->
	<task:scheduled-tasks>
		<task:scheduled ref="taskJob" method="job1" cron="0 42 14 * * ?" />
	</task:scheduled-tasks>

	<!-- 注解方式  -->
	<task:annotation-driven/>
</beans>